- content_for :page_title, "Writings"
- content_for :extra_body_classes, "writings"
- content_for :sidebar do
  .well
    = image_tag "logo_on_grey.jpg"
    = render partial: "partials/subscribe"

- @writers.each do |writer|
  - if writer.documents.any?
    %h3= writer_event_title(writer)

    - writer.documents.each do |document|
      %ul
        - if writer.has_selection?
          %li
            = link_to "#{writer.first_name.upcase}'s SELECTED HIGHLIGHT", page_path("selections/#{writer.selection}")
        %li
          = link_to document.title, writing_path(document)
