<div id="document-wrapper" class="span8">
  {{outlet}}
</div>

<div id="sidebar" class="span4">
  <a href="/feedback" id="request-button" class="btn btn-success"> Make a request </a>
  <div id="document-list">
    <div id="document-search">
      {{view Ember.TextField valueBinding="controller.searchTerm" placeholder="Search all documents" classNames="span3 input-medium search-query"}}
    </div>
    <ul>
      {{#if controller.searchTerm}}
        <a {{action clearSearchTerm target="controller"}}> <li id="view-all"> <<  View all documents </li> </a>
      {{/if}}
      {{#each document in controller}}
        {{#if document.isVisible}}
          {{#link-to 'documents.show' document}}<li {{bindAttr class="document.selected"}}> {{document.title}} </li> {{/link-to}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
