!!!
%html
  %head
    %title
      = page_title
    %meta{ charset: "utf-8" }
    %meta{ name: "ROBOTS", content: "NOODP" }
    %meta{ content: (content_for?(:page_description) ? yield(:page_description) : "Live Writing Series"), name: "description"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag app, media: "all"
    = csrf_meta_tags
  %body{ class: body_class }
    %header.navbar.navbar-fixed-top{ class: (app == "live_reader" ? "navbar-inverse" : "")}
      %nav.navbar-inner
        .container
          = render partial: 'navigation', locals: { app: app }
    #main{:role => "main"}
      .container
        = render 'flashes'
        .content
          = yield
          %footer
    = render partial: 'javascript', locals: { app: app }
