= link_to "Live Writing Series", root_path, :class => 'brand'
%ul.nav.navbar-inverse
  - if app == "live_reader"
    %li= link_to 'Events', page_path('events')
    %li= link_to 'Writers', page_path('writers')
    %li= link_to 'About', page_path('about')
    %li= link_to 'Feedback', page_path('feedback')
  - else
    %li= link_to 'Stories', writeroom_documents_path
    %li= link_to 'New Story', new_writeroom_document_path
