= link_to "", root_path, :class => 'brand hidden-desktop'
%ul.nav
  %li= link_to 'Home', "/"
  - if app == "live_reader"
    %li{ class: active_on('About')}= link_to 'About', page_path('about')
    %li{ class: active_on('Events')}= link_to 'Events', page_path('events')
    %li{ class: active_on('Writers')}= link_to 'Writers', page_path('writers')
    %li{ class: active_on('Contact')}= link_to 'Contact', page_path('contact')
  - else
    %li= link_to 'Stories', writeroom_documents_path
    %li= link_to 'New Story', new_writeroom_document_path
